* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav{
  display: flex;
  gap:3.2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 7.2rem;
  align-items: center;
  font-size: 2.2rem;
}

a{
  text-decoration: none;
  color: #C4C4CC;
}

:root{
  font-size: 62.5%;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #E1E1E6;
}

p {
  font-size: 1.8rem;
  line-height: 160%;
  width: 64.8rem;
}

h1 {
  font-size: 4.8rem;
  line-height: 125%;
  font-weight: 700;
  
}